# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VScode files and folders
.vscode/
Build/Debug/test_project/Header.hpp
Build/Debug/test_project/main.cpp
Build/Debug/test_project/source.cpp
Build/Debug/test_project/nth/main.cpp
Build/Release/build
